.boxContainer {
  display: flex;
  flex: 1;
}

.box {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  width: 80%;
  padding: 2rem;
}
.tag {
  display: flex;
  gap: 1rem;
}
.tag p {
  background-color: var(--color-box);
  border-radius: 0.1rem;
}
